.mapWrapper {
    @include margin(10px, 10px, 10px, 10px);
    width: calc(100% - 20px);
    height: 60vh;

    &Details {
        @include margin(10px, 0, 0, 0);
        @include padding(10px, 10px, 10px, 10px);
        border-top: 2px solid $gray-500;
    }
}