.marker {
    background-color: $white;
    color: $primary-color;
    @include padding(5px);
    @include border-radius(10px);
    width: 10px;
    height: 10px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}