.marker {
    background-color: $white;
    color: $primary-color;
    @include padding(5px);
    @include border-radius(10px);
    @include transition(all, 250ms, ease-in);
    width: 10px;
    height: 10px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    &:hover {
        background-color: red;
        .markerTooltip{
            opacity: 1;
        }
    }

    &Tooltip{
        @include padding(5px);
        display: none;
        width: 100px;
        height: 20px;
        background-color: rebeccapurple;
    }
}