
@mixin padding($value) {
    padding: $value $value $value $value;
}

@mixin border-radius($value) {
    border-radius: $value $value $value $value;
}

@mixin transition($element, $speed, $animation) {
    transition: $element $speed $animation;
}